name: Deploy Dev Infrastructure

on:
  push:
    branches:
      - prod

jobs:
  cdk-diff:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'diff'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

  cdk-deploy:
    runs-on: ubuntu-latest
    environment:
      name: dev-deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'deploy'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
  