name: Deploy Dev Infrastructure

on:
  push:
    branches:
      - prod
    paths:
      - nj/infra/**

jobs:
  cdk-diff:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'diff'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          AWS_ENV: ${{ secrets.ENVIRONMENT_NAME }}

  cdk-deploy:
    runs-on: ubuntu-latest
    environment:
      name: dev-deploy
    needs: cdk-diff
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'deploy'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          AWS_ENV: ${{ secrets.ENVIRONMENT_NAME }}
