name: Deploy Prod Infrastructure

on:
  push:
    branches:
      - prod
    paths:
      - nj/infra/**
    tags:
      - '*'

jobs:
  prod-cdk-diff:
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'diff'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          AWS_ENV: ${{ secrets.ENVIRONMENT_NAME }}

  prod-cdk-deploy:
    runs-on: ubuntu-latest
    environment:
      name: prod-deploy
    needs: prod-cdk-diff
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS CDK GitHub Actions
        uses: youyo/aws-cdk-github-actions@v2.1.4
        with:
          cdk_subcommand: 'deploy'
          cdk_args: '--require-approval never'
          actions_comment: true
          working_dir: nj/infra/
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
          AWS_ENV: ${{ secrets.ENVIRONMENT_NAME }}
